@model GestaodeFrota.Models.ViewModels.AutomovelFormViewModel

@{
    ViewData["Title"] = "Automovel";
}

<h2>@ViewData["Title"]</h2>

<h4>Cadastro de Automoveis</h4>
<hr />

<div class="row">
    <div class="col-4">
        <form asp-action="CreateAutomovel">
            <div class="form-group">
                <label asp-for="Automovel.Placa" class="control-label"></label>
                <input asp-for="Automovel.Placa" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Automovel.Marca" class="control-label"></label>
                <input asp-for="Automovel.Marca" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Automovel.Modelo" class="control-label"></label>
                <input asp-for="Automovel.Modelo" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Automovel.Ano" class="control-label"></label>
                <input asp-for="Automovel.Ano" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Automovel.Quilometragem" class="control-label"></label>
                <input asp-for="Automovel.Quilometragem" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Automovel.Alugado" class="control-label"></label>
                <input asp-for="Automovel.Alugado" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Automovel.Disponivel" class="control-label"></label>
                <input asp-for="Automovel.Disponivel" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Automovel.ApoliceId" class="control-label"></label>
                <select asp-for="Automovel.ApoliceId" asp-items="@(new SelectList(Model.Apolices,"Id","Tipo"))" class="form-control"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Criar" class="btn btn-danger" />
            </div>
        </form>
    </div>
</div>