@model GestaodeFrota.Models.ViewModels.ViagemFormViewModel

@{
    ViewData["Title"] = "Viagem";
}

<h2>@ViewData["Title"]</h2>

<h4>Editar Viagens</h4>
<hr />

<div class="row">
    <div class="col-4">
        <form asp-action="EditViagem">
            <input type="hidden" asp-for="Viagem.Id" />
            <div class="form-group">
                <label asp-for="Viagem.DataSaida" class="control-label"></label>
                <input asp-for="Viagem.DataSaida" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Viagem.DataChegada" class="control-label"></label>
                <input asp-for="Viagem.DataChegada" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Viagem.OdometroSaida" class="control-label"></label>
                <input asp-for="Viagem.OdometroSaida" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Viagem.OdodmetroChegada" class="control-label"></label>
                <input asp-for="Viagem.OdodmetroChegada" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Viagem.DestinoSaida" class="control-label"></label>
                <input asp-for="Viagem.DestinoSaida" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Viagem.DestinoChegada" class="control-label"></label>
                <input asp-for="Viagem.DestinoChegada" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Viagem.DescriçaoViagem" class="control-label"></label>
                <input asp-for="Viagem.DescriçaoViagem" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Viagem.AutomovelId" class="control-label"></label>
                <select asp-for="Viagem.AutomovelId" asp-items="@(new SelectList(Model.Automovels,"Id","Placa"))" class="form-control"></select>
            </div>
            <div class="form-group">
                <label asp-for="Viagem.MotoristaId" class="control-label"></label>
                <select asp-for="Viagem.MotoristaId" asp-items="@(new SelectList(Model.Motoristas,"Id","NomeMotorista"))" class="form-control"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Criar" class="btn btn-danger" />

            </div>
        </form>
    </div>
</div>