@{
    ViewData["Title"] = "Consultas";
}

<h1>@ViewData["Title"]</h1>

<h4>Automoveis Consultas</h4>

<hr />
<div class="btn-group">
    <p>
        <a asp-action="SelectMotorista" class="btn btn-outline-dark">Motorista</a>
    </p>
    <p>
        <a asp-action="SelectAutomovel" class="btn btn-outline-success">Automoveis</a>
    </p>
    <p>
        <a asp-action="SelectViagem" class="btn btn-outline-dark">Viagens</a>
    </p>
    <p>
        <a asp-action="SelectAbastecimento" class="btn btn-outline-success">Abastecimentos</a>
    </p>
    <p>
        <a asp-action="SelectPosto" class="btn btn-outline-dark">Postos</a>
    </p>
    <p>
        <a asp-action="SelectMulta" class="btn btn-outline-success">Multas</a>
    </p>
</div>

<h4>Seguros Consultas</h4>
<hr />

<p>
    <a asp-action="SelectSeguro" class="btn btn-outline-success">Seguros</a>
</p>
<p>
    <a asp-action="SelectApolice" class="btn btn-outline-dark">Apolice</a>
</p>

<h4>Manutencao Consultas</h4>
<hr />

<p>
    <a asp-action="SelectManutencao" class="btn btn-outline-success">Manutencao</a>
</p>
<p>
    <a asp-action="SelectOficina" class="btn btn-outline-dark">Oficina</a>
</p>
<hr />