@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <!-- <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
           -->
    <div class="imagen">
        <img src="https://3.bp.blogspot.com/-0lyXVur66rY/V2nIX_-MAYI/AAAAAAAAw9o/JZ8SSZ_V0905fGx8f6A_W7T-5pL3lHjvgCLcB/s1600/carros3.png" 
    style=" height: 100%; width: 130%; display: flex; align-content: center; align-items: center; margin-left:-190px ; margin-top: 130px;"
 />
    </div>
    
